body {
    background-color: #242424;
}

.title {
    font-size: 100px;
}

.lrg-txt {
    font-size: 25px;
}

.no-decor {
    text-decoration: none;
}

.purp-txt {
    color: #CF9FFF;
}

.back-btn {
    font-size: 20px;
}

.med-txt {
    font-size: 20px;
}

.code-block {
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
  }